name: Build Shard Image

on:
  push:
    branches: [master]
    paths:
      - "server/**"
      - "shared/**"
      - "shard/**"
      - "deno.json"
      - "deno.lock"
      - ".github/workflows/shard.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Fly CLI
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Build and push image
        run: flyctl deploy -c shard/fly.toml --build-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
